.bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  overflow: auto;
  overflow-x: hidden;
}

.bg-container::-webkit-scrollbar {
  display: none;
}

.nav-bar {
  width: 95%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #edeef0;
  margin: 0px;
  margin-bottom: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  flex-shrink: 0;
  padding: 0px 60px;
}

.logo-text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  color: #000000;
}

@media (max-width: 576px) {
  .logo-text {
    font-size: 18px;
  }
}

.add-user-btn {
  width: 90px;
  height: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 12px;
  color: #ffffff;
  border-width: 0px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #54b4d3;
  cursor: pointer;
}

@media (max-width: 576px) {
  .add-user-btn {
    width: 60px;
    height: 30px;
    font-size: 10px;
  }
}

.search-container {
  width: 40%;
  height: 35px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #e0dddc;
  flex-shrink: 0;
}

@media (max-width: 576px) {
  .search-container {
    width: 80%;
    height: 30px;
  }
}

.search-icon {
  width: 25px;
  height: 25px;
  color: #000000;
  margin-right: 10px;
}

.search-input {
  width: 100%;
  height: 100%;
  border-width: 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
  color: #000000;
  outline: none;
  background-color: transparent;
}

.ul-list-of-users {
  width: 60%;
  height: 450px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  overflow: auto;
}

@media (max-width: 576px) {
  .ul-list-of-users {
    width: 90%;
    height: 300px;
  }
}

.ul-list-of-users::-webkit-scrollbar {
  display: none;
}

.pagenation-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

@media (max-width: 576px) {
  .pagenation-container {
    width: 70%;
  }
}

.left-and-right-arrow {
  width: 25px;
  height: 25px;
  color: #000000;
  cursor: pointer;
}

.page-no-text {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
  color: #000000;
}

@media (max-width: 576px) {
  .left-and-right-arrow {
    width: 20px;
    height: 20px;
  }

  .page-no-text {
    font-size: 15px;
  }
}

.in-active {
  color: gray;
}
